In [ ]:
# 1) Multiply 10 with 5, and print the result.

In [ ]:
x=float(input("Enter The Frist Num: "))
z=float(input("Enter The Second Num: "))
print(f"The Result is: {x*z}")

In [ ]:
# 1) Multiply 10 with 5, and print the result.
print(10*5)

50

In [ ]:
# 1) Multiply 10 with 5, and print the result.
10*5

In [ ]:
# 2) Divide 10 by 2, and print the result.

In [ ]:
x=float(input("Enter The Frist Num: "))
z=float(input("Enter The Second Num: "))
print(f"The Result is: {x/z}")

In [ ]:
# 2) Divide 10 by 2, and print the result.

In [ ]:
print(10/2)

In [ ]:
# 3) Use the correct membership operator to check if "apple" is present in the fruits object

In [ ]:
fruits_list=["apple","banana","cherry"]
if "apple" in fruits_list:
  print("Yes apple in the fruits list")

In [ ]:
# 4)Use the correct comparison operator to check if 5 is not equal to 10.
x=10
z=5
if x != z:
  print("Yes: Five don't equale ten")

In [ ]:
# 5) Use the correct logical operator to check if at least one of two statements is True.
x=15
z=20
y=20
if x>=z or z==y:
  print("At Least one of Two Statments is True")

In [ ]:
# 6) Print the second item in the fruits list.
fruit_list1=["apple","banana","cherry"]
print(fruit_list1[1])

In [ ]:
# 7) Change the value from "apple" to "kiwi", in the fruits list.
fruit_list2=["apple","cherry","banana"]
fruit_list2[0]= "kiwi"
print(fruit_list2)

In [ ]:
# 8) Change the value from "apple" to "kiwi", in the fruits list.
fruit_list2[0].replace("apple","kiwi")
print(fruit_list2)

In [ ]:
# 9) Use the append method to add "orange" to the fruits list.
fruit_list2.append("orange")
print(fruit_list2)

In [ ]:
# 10) Use the insert method to add "lemon" as the second item in the fruits list.
fruit_list2.insert(1,"lemon")
print(fruit_list2)

In [ ]:
# 11) Use the remove method to remove "banana" from the fruits list.
fruit_list2.remove("banana")
print(fruit_list2)

In [ ]:
# 12) Use negative indexing to print the last item in the list
m=["sherif","amit","learning","powerbi"]
print(m[-1])

In [ ]:
# 13) Use a range of indexes to print the third, fourth, and fifth item in the list.
u=[1,2,5,6,7,8,9]
print(u[2:5])

In [ ]:
# 14) Use the correct syntax to print the number of items in the list.
list=["cherry","apple","orange","banana"]
print(len(list))

In [ ]:
# 15) Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.
list_2=[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]
for i in list_2:
  if i==412:
    break
  print(i)

In [ ]:
# 16) Write a Python program that will accept the base and height of a triangle and compute its area.
x=float(input("Enter The Base: "))
z=float(input("Enter The Height"))
area= x*z/2
print(f"The area of The Triangle Is: {area}")

In [ ]:
# 17) Sort three integers without using conditional statements
first_1=float(input("Enter The First Number: "))
second_1=float(input("Enter The Second Number: "))
third_1=float(input("Enter the Third Number: "))
x1=max(first_1,second_1,third_1)
x3=min(first_1,second_1,third_1)
x2=(first_1+second_1+third_1) - first_1 -second_1
print(f"Numbers in sorted: {x1},{x2},{x3}")

In [ ]:
# 18) Sort three integers :using conditional statements
first_1=int(input("Enter The First Number: "))
secon_1=int(input("Enter The Second Number: "))
third_1=int(input("Enter the Third Number: "))
if first_1 > second_1 and  second_1> third_1:
  print(f"The Sort Three Integers: {first_1},{second_1},{third_1}")
else:
  print("This is an Error: ")

In [ ]:
10# 19) Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.
# Define a function named test_distinct that takes a list 'data' as a parameter.
def test_distinct(data):
    # Check if the length of the list is equal to the length of the set created from the list.
    if len(data) == len(set(data)):
        # If the lengths are equal, it means all elements in the list are distinct.
        return True
    else:
        # If the lengths are not equal, there are duplicate elements in the list.
        return False

# Call the test_distinct function with a list [1, 5, 7, 9] and print the result.
print(test_distinct([1, 5, 7, 9]))

# Call the test_distinct function with a list [2, 4, 5, 5, 7, 9] and print the result.
print(test_distinct([2, 4, 5, 5, 7, 9]))

In [ ]:
# My Task
def add(x,y):
  return x+y
def subtract(x,y):
  return x-y
def divide(x,y):
  return x/y
def multy(x,y):
  return x*y
choice=float(input("enter choice(1,2,3,4)"))
num1=float(input("enter first number"))
num2=float(input("enter second number"))
if choice ==1:
    print(num1,"+",num2,"=",add(num1,num2))
elif choice ==2:
    print(num1,"-",num2,"=",subtract(num1,num2))
elif choice ==3:
    print(num1,"/",num2,"=",divide(num1,num2))
elif choice ==4:
    print(num1,"*",num2,"=",multy(num1,num2))